.newsletter_container {
  width: 100%;
  max-width: 120rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
}

.newsletter_email_container {
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.newsletter_user,
.newsletter_listings {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  /* border: 1px solid red; */
}

.newsletter_user {
  height: 8rem;
  margin-bottom: 1rem;
}

.newsletter_user_input {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.newsletter_user_input > input {
  width: 77%;
  height: 3rem;
  background-color: transparent;
  border: 0.1rem solid #fff;
}

.newsletter_user_input > button {
  width: 21%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.658);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.newsletter_user_input > button:hover {
  background-color: #fff;
}

.newsletter_listings {
  height: 7rem;
}

.card_newsletter_content_lists {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter_bg_container {
  width: 100%;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  position: relative;
}

.newsletter_bg_pattern {
  width: 200%;
  height: 50%;
  position: absolute;
  bottom: -20%;
  right: -10%;
  background-color: #fff;
  transform: rotate(-9.5deg);
  -webkit-transform: rotate(-9.5deg);
  -moz-transform: rotate(-9.5deg);
  -ms-transform: rotate(-9.5deg);
  -o-transform: rotate(-9.5deg);
}

.newsletter_bg_image {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 15%;
  right: -10%;
}

.newsletter_bg_image > img {
  width: 90%;
  height: auto;
  object-fit: contain;
}

/********** MEDIA QUERIES **********/

/* Surface Duo */

@media only screen and (min-width: 540px) {
  .newsletter_container {
    height: 60rem;
  }
}

/* Ipad Regular */

@media only screen and (min-width: 768px) {
  .newsletter_container {
    height: 40rem;
  }

  .newsletter_user_input {
    width: 50%;
  }

  .newsletter_bg_pattern {
    width: 200%;
    height: 80%;
    bottom: -55%;
    right: -10%;
  }

  .newsletter_bg_image {
    right: -22%;
    bottom: 12%;
  }

  .newsletter_bg_image > img {
    width: 65%;
  }

  .newsletter_user,
  .newsletter_listings {
    width: 100%;
    padding-left: 4rem;
  }

  .newsletter_user {
    height: 8rem;
    margin: 4rem auto 1rem;
  }

  .newsletter_user_input {
    width: 45%;
  }
}

/* Ipad Air */

@media only screen and (min-width: 820px) {
  .newsletter_user {
    height: 8rem;
    margin: 6rem auto 1rem;
  }

  .newsletter_user,
  .newsletter_listings {
    width: 100%;
    padding-left: 8rem;
    /* border: 1px solid red; */
  }
}

/* Surface Pro 7 */

@media only screen and (min-width: 912px) {
  .newsletter_container {
    height: 50rem;
  }
}

/* Ipad Pro */

@media only screen and (min-width: 1024px) {
}

/* Desktop Small */

@media only screen and (min-width: 1280px) {
  .newsletter_container {
    height: 65rem;
  }

  .newsletter_email_container {
    padding-top: 8rem;
  }

  .newsletter_user,
  .newsletter_listings {
    font-size: 1.5rem;
  }

  .newsletter_user {
    margin-bottom: 2rem;
  }

  .newsletter_listings {
    height: 10rem;
  }

  .newsletter_user_input > input {
    height: 4rem;
  }

  .newsletter_user_input > button {
    height: 4rem;
    font-size: 1.25rem;
  }
}

/* Desktop Medium */

@media only screen and (min-width: 1920px) {
}

/* Desktop Large */

@media only screen and (min-width: 2560px) {
}

/* Desktop X-Large / Ultra WideScreen */

@media only screen and (min-width: 3440px) {
}
