.listing_container {
  width: 100%;
  height: auto;
  background-color: #000;
}

.filter_container {
  width: 100%;
  max-width: 120rem;
  height: 10rem;
  margin: 0 auto;
  border: 1px solid red;
}

.card_listing_container {
  width: 100%;
  max-width: 120rem;
  height: auto;
  margin: 0 auto;
  padding: 4rem 0 8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.card_listing_container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.auto_list_card_box {
  width: 100%;
  height: auto;
  margin-left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auto_list_card_box:last-child {
  margin-right: 4rem;
}

.auto_list_card_box_content {
  width: 20rem;
  height: 27rem;
  border: 1px solid #fff;
}

/********** MEDIA QUERIES **********/

/* Surface Duo */

@media only screen and (min-width: 540px) {
}

/* Ipad Regular */

@media only screen and (min-width: 768px) {
  .card_listing_container {
    padding: 4rem 2rem 10rem;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }

  .auto_list_card_box {
    width: calc(100% / 3);
    height: 34rem;
    margin-left: 0;
    padding: 1rem;
  }

  .auto_list_card_box:last-child {
    margin-right: 0;
  }

  .auto_list_card_box_content {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
  }
}

/* Ipad Air */

@media only screen and (min-width: 820px) {
  .card_listing_container {
    padding: 4rem 4rem 10rem;
  }
}

/* Surface Pro 7 */

@media only screen and (min-width: 912px) {
  .auto_list_card_box {
    height: 36rem;
    padding: 1.5rem 2rem;
  }
}

/* Ipad Pro */

@media only screen and (min-width: 1024px) {
  .card_listing_container {
    padding: 4rem 6rem 10rem;
  }
}

/* Desktop Small */

@media only screen and (min-width: 1280px) {
  .auto_list_card_box {
    width: calc(100% / 4);
  }
}

/* Desktop Medium */

@media only screen and (min-width: 1920px) {
  .auto_list_card_box {
    padding: 1.5rem 1.75rem;
  }
}

/* Desktop Large */

@media only screen and (min-width: 2560px) {
}

/* Desktop X-Large / Ultra WideScreen */

@media only screen and (min-width: 3440px) {
}
